Package: cakephp-scripts
Source: cakephp
Version: 1.3.15-1+deb7u2
Architecture: all
Maintainer: Chris Lamb <lamby@debian.org>
Installed-Size: 922
Depends: cakephp (>= 1.3.15-1+deb7u2), php5-cli
Conflicts: cakephp1.2-scripts
Replaces: cakephp1.2-scripts
Section: web
Priority: optional
Homepage: http://www.cakephp.org/
Description: MVC rapid application development framework for PHP (scripts)
 CakePHP is a flexible model-view-controller rapid application development
 framework for PHP inspired by Ruby on Rails.
 .
 This package contains the bake.php and acl.php scripts for creating (or
 "baking") CakePHP applications and modifying Access Control Lists.
